.create {
  width: 100%;
 min-height: 100vh;
 max-height: auto;
 position: relative;
}
.create input {
  border: none;
  outline: none;
  width: 40%;
  margin-bottom: 30px !important;
}
.create textarea {
  border: none;
  outline: none;
  width: 100%;
  height: 120px !important;
  resize: none;
}
#textarea {
  display: none;
}

.todo-main {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.596);
  width: 50%;
  height: 110px;
  display: flex;
  margin-top: 6%;
}

.todo-inputs-div {
  width: 100%;
}

.todo-inputs {
  border-radius: 18px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin: 5px 0;
  border: 1px solid rgb(100, 94, 96);
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.219);
  background: rgba(218, 190, 190, 0.575);
  color: #383630;
}

.todo-inputs:focus {
  outline: none;
  border: #383630 1px solid;
}
.row {
  background: none; 
  border: none; 
}
.todo-inputs::placeholder {
  color: #bbb;
}
.btn-create {
  display: none;
  width: 40%;
  margin-top: 30px !important;
  margin-left:0px ;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #d5db81;
  color: #9e802d;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
}
.btn-create:hover {
  background-color: #72745d;
  color: #d5db81 !important;
  padding: auto;
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .todo-main {
    padding: 20px;
    margin-top: 20% !important;
  }
  .create input {
    width: 100%;
  }
  .btn-create {
    width: 100%;
  }
  .todo-card{
    width: 250px !important;
    height: 170px;
    margin: 0px !important;
    margin-bottom: 20px !important;
   
  }
  .todo-body{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
}
.card-icon{
  padding: 10px;
}
.todo-card {
  border: 2px solid rgb(138, 82, 101);
  border-radius: 18px;
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.219);
  background-color: #bcbea3;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 100%;
  min-height: 190px;
  max-height: auto !important;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.todo-card:hover {
  background: rgba(218, 190, 190, 0.575);
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
  transform: translateY(-10px);
  cursor: pointer;
}

.check input {
  margin-top: 20px;
  margin-left: 0% !important;
  width: 40px !important;
  height: 20px !important;
}

.check {
  flex-direction: row !important;
  margin-left: 0 !important;
  padding-left: 0% !important;
  margin-bottom: 0% !important;
  padding-bottom: 0% !important;
}

.todo-body {
  margin-top: 3%;
  margin-bottom: 8%;
}

@media (max-width: 768px) {
  .todo-card {
    width: 100%;
    min-height:260px;
    margin: 10px 0;
    padding: 15px;
  }
  .card-icon-head{
    margin-bottom: -10px !important;
  }
  p{
    font-size: 14px !important;
  }

  .check input {
    width: 30px !important;
  }
}

.container-fluid {
  padding: 10px;
}
.card-icon-head{
  font-size: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  

}
.card-icon:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.596);
}
.del{
  color :#c26549;
  margin-left: 10px;
}
.up{
  color: #4b4a4a;

}
.todo-edit{
  display: none;
  position: absolute;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  top: 1px;
  padding:10px;
  background-color: #8a8989e8;
}
.todo-edit h3{
  color: #332f2f;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-update {
 min-width: 20%;
 max-width: 100%;
  margin-top: 30px !important;
  margin-left:0px ;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #d3dd49;
  color: #9e802d;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
}
.close{
  background-color: #3a3b29 !important;
  color: #d5db81 !important;
}
.close:hover{
  background-color: #d3dd49 !important;
  color: #9e802d !important;
}
.btn-update:hover {
  background-color: #3a3b29 ;
  color: #d5db81;
  padding: auto;
  box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
  transform: translateY(-2px);
}
.update {
  width: 100%;
 height: 90vh;

}

.update input {
  border: none;
  outline: none;
 width: 40%;
  margin-bottom: 30px !important;
}
.update textarea {
  border: none;
  outline: none;
  width: 100%;
  min-height: 120px !important;
  max-height: 200px !important;
  resize: none
}
.updates {
  background-color: #ffffffdc;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.596);
  width: 80%;
  min-height: 400px;
  max-height: 600px;
  display: flex;
  margin-top: 5%;
}
h3{
  margin-bottom: 30px !important;
}