.about{
    width: 100%;
    min-height: 100vh;
    max-width: fit-content;
}
.about p{
    text-align: justify !important;
    text-justify: inter-word !important;
}
.about h2{
    text-align: justify !important;
    text-justify: inter-word !important;
    font-size: 60px;
    margin-bottom: 20px;
    border-bottom: 2px solid  #a09048da;
    border-radius: 3px;
}
@media (max-width: 435px) {
   .about h2 {
      font: size 2.5rem !important; 
      margin-top: 40px !important;
   }}
  
