.signin {
  height: 150vh !important;
  
  }
  .column {
    height: 100vh !important;
  }
  .image{
    border: 3px solid palevioletred;
    border-radius: 50%;
    box-shadow: 0 20px 10px rgba(68, 63, 42, 0.767);
  }
  .signin img {
    width: 300px ;
    height: 300px ;
    border-radius: 50%;
     border: 25px solid white;
    display: block;
    background-size: cover !important;
    background-position: center !important;
  }
  .form {
      margin-top: 12vh;
  }
  .signin input{
      width: 70%;
      padding: 10px;
      margin: 5px 0;
      border: 1px solid rgb(100, 94, 96);
      box-shadow: 0 20px 10px rgba(68, 63, 42, 0.6);
      border-radius: 25px;
      background: rgba(218, 190, 190, 0.575);
      outline: none;
      color: #383630;
  }
  .signin::placeholder {
      color: #5a574c;
      padding-left: 20px;
  }
  .btn-signin{
      width: 40%;
      margin-top: 10px;
      padding: 10px;
      border: none;
      border-radius: 25px;
      background-color: #d5db81;
      color: #9e802d;
      font-size: 16px;
      cursor: pointer;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
    
  }
  .btn-signin:hover{
      background-color: #72745d;
      color: #d5db81 !important;
      padding: auto;
      box-shadow: 0 20px 10px rgba(68, 63, 42, 0.76);
      transform: translateY(-2px);
  }
  @media (max-width: 1000px) {
      .signin{
          height: 100vh;
      
      }
      .column{
          height: 300px !important;
      }
      .colum{
          margin-top: 20px !important;
          height: 300px !important;
      }
      .signin img {
        width: 200px;
        height: 200px;
        margin-bottom: 0%;
       
      }
      .image{
        margin-top: 2vh !important;
      }
    
      .form {
        margin-top:5vh !important;
      }
    
      .btn-signin {
        width: 50%;
      }
    }
    
    @media (max-width: 480px) {
      .signin img {
        width: 150px;
        height: 150px;
      }
    
      .form {
        margin-top: 0px;
      }
    
      .btn-signin {
        width: 50%;
      }
    }