.home {
    width: 100%;
    height: 100vh;
}

.home h1{
    font-size: 40px;
}

  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    color: #000000f1;
  }
  
  .para {
    font-size: 1rem;
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(60, end) 1s 1 normal both, blink-caret 0.75s step-end infinite;
    color: #0000008e;
  }
  
  .home-btn {
    background-color: #a09048da; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-bottom: 0 !important;
  }
  
  .home-btn:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-8px);
    background-color: #61572bda; 
    color: white;
    border-bottom: 0px solid #a09048da !important;
  }
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem !important;
    }
  
    p {
      font-size: 0.8rem !important;
      margin-bottom: 1rem !important;
    }
  
    .home-btn {
      padding: 10px 20px;
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 435px) {
    h1 {
      font-size: 1.5rem !important; 
      margin-bottom: 0.5rem !important; 
    }
  
    p {
      font-size: 0.5rem !important; 
      margin-bottom: 1rem !important; 
    }
  }
  Link{
    text-decoration: none !important;
  }