.about{
    width: 100%;
    height: 100vh;
}
.about p{
    text-align: justify !important;
    text-justify: inter-word !important;
}
.about h2{
    text-align: justify !important;
    text-justify: inter-word !important;
    font-size: 60px;
    margin-bottom: 20px;
    border-bottom: 2px solid  #a09048da;
    border-radius: 3px;
}
