.user-png {
  width: 30px;
  height: 30px;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.navbar {
  background-color: #d5db81;
  color: #ffffff;
  padding: 10px 0;
}

.navbar .navbar-brand {
  color: #72745d;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-brand:hover{
  border: none !important;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #9e802d;
  margin: 0 10px;
  font-size: 15px;
  transition: color 0.3s ease-in-out;
  align-items: center;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #3d3720f6;
}
a:hover {
  border-bottom: 4px solid #a09048da;
}
.navbar .navbar-nav .nav-item .user-png {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.navbar .navbar-nav .nav-item {
  margin-top: 10px;
}
.user-png {
  margin-top: -5px !important;
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    background-color: #d5db81;
    text-align: center;
    padding: 10px 0;
  }
  .btn-nav:hover {
    background-color: #d5db81 !important;
    color: #72745d !important;
    padding: auto;
  }
  .navbar .navbar-nav .nav-item {
    margin: 10px 0;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    font-size: 20px;
  }

  .navbar .navbar-nav .nav-item .user-png {
    margin-top: 10px;
  }
}

.btn-nav {
  border-radius: 20px;
  font-weight: 600;
}
@media (min-width: 993px) {
  .btn-nav:hover {
    background-color: #72745d;
    color: #d5db81 !important;
    padding: auto;
  }
}
.navbar-collapse {
  z-index: 1000;
}
